modules = ["nodejs-20", "web", "postgresql-16", "rust"]

[env]
REPLIT_DISABLE_PACKAGE_LAYER = "1"

run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq"]

[deployment]
deploymentTarget = "gce"
build = ["sh", "-c", "/nix/store/8wybwvv517v5lg5hvg1l1ydfs97gd8hd-rust-mixed/bin/cargo build --release && npm install && npm run build"]
run = ["sh", "-c", "node dist/server/index.js"]

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5904

[workflows]
runButton = "Run Rust App"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Run Rust App"
author = 39917403
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run"
